/*Slap an overlay in the middle*/
.overlay {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/*credits stuff*/
[class^="mod-image"] {
  clear: both;
  height: 150px;
  width: 150px;
}

#mods {
  display: inline-block;
}

#mods img {
  background: #1f4ff4; /* #fa1d1e; */
  background-image: url('/img/modIcons/backing.png');
  background-size: cover;
  margin-bottom: 20px;
  border: 3px solid grey;
}

.mod-align-left {
  float: left;
}
.mod-align-left ul {
  float: right;
  padding-right: 10px; /*need this for mobile text scaling??*/
}

.mod-align-right {
  float: right;
}
.mod-align-right ul {
  float: left;
  padding-right: 10px;
}

.mod-align {
  float: none;
}